@CHARSET "EUC-KR";



div#detail {
	   
	    position: absolute;
	    display: none;
		background-color: white;
		border-radius: 5px;
		width: 800px;
		height: auto;
		left: 80px;
		margin: 10px 0px;		
	}
	div#detailColumn1 {
		float: left;
		width: 328px;
		height: auto;
	}
	div#detailColumn2 {
		float: right;
		width: 468px;
		height: auto;
	}
	div.p_fname {
		width: 446px;
		height: auto;
		margin: 10px;
	}
	div#p_content {
		width: 446px;
		height: 200px;
		margin-left: 10px;
	}
	div#contentTop {
		border: 0px;
		height: 35px;
	}
	div#contentTopL {
		border: 0px;
		float: left;
		width: 73%;
		height: 100%;
	}
	div#contentTopR {
		border: 0px;
		float: right;
		width: 27%;
		height: 100%;
	}
	div#contentMid {
		height: 128px;
	}
	div#contentBottom {
		border: 0px;
		height: 35px;
	}
	div#detailComment {
		float: right;
		width: 446px;
		margin-right: 12px;
	}
	div.comment {
		width: 434px;
		height: auto;
		padding: 5px;
	}
	div.commentName {
		padding: 5px;
	}
	div.commentContent {
		padding: 5px 20px;
	}
	div.commentTime {
		text-align: right;
		padding-right: 10px;
	}	
	div#commentInput {
		float: right;
		width: 446px;
		height: 35px;
		margin-right: 12px;
	}
	div.footer {
		clear: both;
		width: auto;
		height: 40px;
	}
	div#footer_detailL {
		float: left;
		border: 0px;
		width: 400px;
		height: 40px;
	}
	div#footer_detailR {
		float: right;
		border: 0px;
		height: 40px;
		padding: 5px 8px;
	}
	
	.detail_close{
	    
	    
	    width: 10px;
	    height: 10px;
	}