@CHARSET "EUC-KR";

div{
	border: 1px solid blue;
}

div.narrow{
	display: inline-block;
	width: 50px;
}

div.wide{
	display: inline-block;
	width: 250px;
}

div.widest{
	display: inline-block;
	width: 400px;
}

div#insertBoardQna{
	background: white;
}