@CHARSET "EUC-KR";

.button{
	display: inline-block;
	background: #b0c4de;
	border: 1px solid black;
	border-radius: 6px;
	padding: 6px; 	
	cursor: pointer;
}

.product{
	display: inline-block;
	padding: 5px;
}

/* 팝업창 css */
.popUp{
	background: white;
	border-radius: 10px;
	padding: 20px;
}

.hidden{
	display: none;
}

/* 헤더 css */
#list_message{
	border: 1px solid black;
	padding: 10px;
	width: 330px;
}
#notifier_message{
	border: 1px solid black;
	padding: 10px;	
}
#h_out_header{
	background-color: #fbfbfc;
	border-bottom: 1px solid #dedede;
}
#h_inner_header{
	width: 960px;
	height: 15px;
	background-color: #fbfbfc;
	padding: 8px;
}
.h_tag{
	cursor: pointer;
	color: #555555;
	font-size: 12px;
	float: right;
	margin-right: 8px;
	text-decoration: none;
}#alarm_in{
	border: 1px solid black;
	border-radius: 5px;
	display: none;
	width: 150px;
	height: 300px;
	position: fixed;
	margin-top: 24px;
	margin-left: 550px;
	background-color: white;
	z-index: 100;
}
#cash_in{
	display: none;
	width: 150px;
	height: 50px;
	position: fixed;
	margin-top:24px;
	margin-left: 400px;
	background-color: white;
}
#h_bar{
	color: #dedede;
	float: right;
	margin-right: 8px;
	font-size: 11px;
}
#h_mid{
	width: 960px;
	height: 150px;
}
#h_logo{
	background-image: url(../images/header/logo_everymarket.gif);
	background-repeat: no-repeat;
	float: left;
	width: 350px;
	height: 150px;
	cursor: pointer;
}
#h_searchbar{
	float: right;
	height: 30px;
	border: 2px solid #e73535;
	margin-top: 100px;
}
#h_searchline{
	float: left;
}
#h_search{
	width: 210px;
	height: 25px;
	background-color: #ffffff;
}
#h_sbutton{
	width: 40px;
	height: 31px;
	background-image: url(../images/header/sbutton.png);
	background-repeat: no-repeat;
	float: right;
}

ul.h_menu{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
}
ul.h_menu a{
	text-decoration:none;
	outline:none;
}
ul.h_menu li{
	float:left;
	width:170px;
	height:55px;
	position:relative;
	cursor:pointer;
	background-color: #db1820;
}
ul.h_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:55px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.h_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.h_menu li span.h_wrap{
	position:absolute;
	top:5px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.h_menu li span.h_active{
	position:absolute;
	background:#e81837;
	top:55px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.h_menu li span span.h_link,
ul.h_menu li span span.h_descr,
ul.h_menu li div.h_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.h_menu li span span.h_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;

}
ul.h_menu li span span.h_descr{
	color:#ffd800;
	clear:both;
/* 	width:155px; For dumbass IE7 */
	font-size:10px;
	letter-spacing:1px;
	float:left;
}
ul.h_menu li div.h_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:55px;
	left:0px;
	display:none;
	background:#e83a54;
}
ul.h_menu li div.h_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#ffd800;
}
ul.h_menu li div.h_box a:first-child{
	margin-top:15px;
}
ul.h_menu li div.h_box a:hover{
	color:#fff;
}
#h_menu{
	height: 55px;
}
#footer *{
	text-align: left;
}
.b_font{
 color:#777777;
 font-size: 11px;
 margin-left: 22px;
 margin-right: 22px;
 text-shadow: 0.5px 0.5px 0.5px #777777;
}
.b_bar{
color: #dadada;
font-size: 10px;
}
#b_banner1{
text-align: center;
width:1020px;
}
#b_banner2{
border: 1px solid #e7e7e7;
text-align: center;
height: 25px;
padding-top: 5px;
width:1020px;
}
.b_banner3{
width: 490px;
height:60px;
float: left;
}
.b_banner3 p{
margin: 0px;
margin-left: 10px;
}
#b3_font{
font-size: 10px;
text-shadow: 0.3px 0.3px 0.3px #777777;
color:#777777;
}
.b_title{
color:#4d4d4d;
font-size: 12px;
font-weight: bold;
text-shadow: 0.5px 0.5px 0.5px #777777;

}
#b_banner4{
	width:990px;
	height: 60px;
	padding: 15px;
}
#b3_bar{
border-right: 1px solid #d7d7d7;
}

#goAdminister{
	border: 0px;
	background: none;
}
#now_sale{
/* background-color: #609fff; */
background-color:#e5ebf3;
width:220px;
height: 300px;
float: left;
border: 1px solid #4f6ca6;
box-shadow: inset 0 0 2px 2px #8ea9cf;
}
#sale_image{
margin:10px;
width: 200px;
background-color: #e5ebf3;
}
#sale_image2{
border: 1px solid #4f6ca6;
width: 200px;
margin:10px;
box-shadow: inset 0 0 1px 1px #8ea9cf;
height: 140px;
}
#sale_detail{
color:white;
font-size: 12px;
background-color: #e5ebf3;
text-shadow: 0.5px 0.5px 0.5px #48484d;
width:200px;
height: 81px;
margin:10px;
}
#sale_detail p{
margin: 0px;
/* float: left; */
text-align: center;
font-weight: bold;
color:#4d4d4d;
}
#sale_count{
text-align: center;
float: left;
margin-left: 39px;

}
#sale_count p{
float: left;
margin-left: 2px;
margin-right: 2px;
text-align: center;
}
#sale_cash{
font-size: 13px;
}
#now_buy{
background-color: white;
width:120px;
height: 50px;
font-size: 15px;
background-image:url(../images/smarket/now_buy.png);
background-repeat: no-repeat;
background-position: center;
}
#mid_contents{
	width:1030px;
	height: 310px;
}
