@CHARSET "EUC-KR";

* {
	margin: 0px;
	padding: 0px;
}

.inner-menu {
	display: block;
	list-style: none outside none;
	display: inline;
}

/* div { */
/*   border: 1px solid red; */
/* } */

.mid-content {
	height: 300px;
}

body {
	
}